/* aaaa */

.container {
  position: relative;
}

.tryGlasses {
  position: absolute;
  height: 80px;
  z-index: 10;
  top: 20%;
  left: 98px;
  /* bottom: 10; */
}

.desc {
  position: absolute;
  z-index: 10;
  top: 59%;
  left: 5.5%;
  width: 42.1%;
}
